header {
    background-color: #212121;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

img {
    width: 105px;
}
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    transition: all 1.5s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
.menu.active {
    opacity: 1;
    max-height: 1000px;
}

.menu ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block !important;
        padding-right: 20px;
    }
    .menu {
        position: fixed;
        top: 50px;
        right: 0;
        width: 50%;
        opacity: 0.6;
        background-color: #212121;
        z-index: 9998;
        overflow-y: scroll;
    }
    .menu.active {
        border-radius: 5px;
        padding-left: 70px;
        opacity: 1;
        max-height: none;
    }
    .menu ul {
        flex-direction: column;
        padding: 0;
    }
    .menu ul li {
        margin: 15px 0;
    }
}
