<header>
    <nav>
        <img src="assets/movie-poster.jpg" alt="" />
        <div class="menu-icon" (click)="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>

        <div class="menu" [ngClass]="{ active: !active }">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/movies">Movies</a></li>
                <li><a routerLink="/tvshows">TV Shows</a></li>
                <li><a routerLink="/genres">Genres</a></li>
            </ul>
        </div>
    </nav>
</header>
